<section class="no-padding">
  <!-- <div class="sort-by compare">
    <div class="container">
      <ul>
        <li><i class="fa fa-print"></i> Print</li>
      </ul>
      <ul class="unit-selector pull-right">
        <li>Same Features <span class="divider">|</span></li>
        <li class="active"><a href="#">Show</a></li>
        <li><a href="#">Hide</a></li>
      </ul>
    </div>
  </div> -->
  <div class="detail-header">
    <div class="container">
      <table>
        <tr>
          <td>
            <a href="/contact/request_to_quote" class="btn btn-primary btn-block">Request a Quote</a>
          </td>
          {% for item in data['product_image'] %}
            <td>
              <div class="compare-item">
                <p class="text-right">
                  <a href="/product-compare/{{item['id']}}/remove_item" class="compare-remove-item"><img src="/{{ directory }}/images/x.png" alt="comparasion"></a>
                </p>
                <h5>{{item['name']}}</h5>
                <a href="{{item['url']}}"><img src="{{item['image']}}"></a>
              </div>
            </td>
          {% endfor %}
        </tr>
      </table>
    </div>
  </div>
</section>
<section class="no-padding">
  <div class="container">
    <div class="product-feature">
      <h5>Product feature</h5>
      <div class="panel-group compare clearfix" id="parentSpecification" role="tablist" aria-multiselectable="true">
        {% for item in data['product_spec'] %}
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingS{{ item['label']|replace(' ', '-') }}Comparison">
              <h4 class="panel-title">
                <a role="button" class="" data-toggle="collapse" data-parent="#parentSpecification" href="#accordionS{{ item['label']|replace(' ', '-') }}Comparison" aria-expanded="true" aria-controls="accordionS{{ item['label']|replace(' ', '-') }}Comparison">
                  <span></span> {{item['label']}}
                </a>
              </h4>
            </div>
            <div id="accordionS{{ item['label']|replace(' ', '-') }}Comparison" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingS{{ item['label']|replace(' ', '-') }}Comparison">
              <div class="panel-body">
                <table class="table table-bordered tbl-spec">
                  <tbody>
                  	{% for table in item['table'] %}
                  	<tr>
                  		{% for table_item in table %}
                  			<td>{{ table_item }}</td>
                  		{% endfor %}
                  	</tr>
                  	{% endfor %}
                   </tbody>
              	</table>
              </div>
            </div>
          </div>
       {% endfor %}
      </div>
    </div>
  </div>
</section>