{% include directory ~ '/templates/includes/header.html.twig' %}
{% if node %}
	{{ page.content }}
{% else %}
<section class="top-content-landing no-padding">
  <div class="top-title-page">
    {{ page.breadcrumb }}
  </div>
</section>
{% if page.admin_menu %}
<section class="no-padding">
  <div class="container">
	{{ page.admin_menu }}
  </div>
</section>
{% endif %}
<section class="bg-grey no-padding">
  <div class="container">
    <div class="grid-list">
      {{ page.content }}
    </div>
  </div>
</section>
{% endif %}
{{ page.right_contact }}
{% include directory ~ '/templates/includes/footer.html.twig' %}
