<div class="front">
  {% include directory ~ '/templates/includes/header.html.twig' %}
  {% if page.admin_menu %}
    <section class="no-padding">
      <div class="container">
      {{ page.admin_menu }}
      </div>
    </section>
  {% endif %}
  <section class="slider top-content-landing">
      {{ page.content_top }}
    <div class="featured">
      <div class="featured-wrapper clearfix">
        {{ page.featured_top }}
      </div>
    </div>
    <div class="landing-scroll">
      <div class="landing-scroll-in">
        <a href="#" class="btn btn-scroll"><span></span><span></span><span></span> Scroll down to view more information</a>
      </div>
    </div>
  </section>
  <section class="news">
    <div class="container">
        {{ page.content_bottom }}
    </div>
  </section>
  <section class="testimonial">
    <div class="container">
      <div class="testimonial-content-wrapper">
        {{ page.testimonial }}
      </div>
    </div>
  </section>
  {{ page.right_contact }}
  {% include directory ~ '/templates/includes/footer.html.twig' %}
</div>
{{ page.popup }}
