{% include directory ~ '/templates/includes/header.html.twig' %}
<section class="top-content-landing no-padding">
  <div class="top-title-page">
      {{ page.breadcrumb }}
  </div>
</section>
<section class="bg-grey user-wrapper">
  <div class="container">
    {{ page.admin_menu }}
    {{ page.content }}
  </div>
</section>
{{ page.right_contact }}
{% include directory ~ '/templates/includes/footer.html.twig' %}
