{% include directory ~ '/templates/includes/header.html.twig' %}
	<div class="trakindo-container-100">
		{{ page.admin_menu }}
	</div>
  {{ page.content }}
	{{ page.right_contact }}
{% include directory ~ '/templates/includes/footer.html.twig' %}