{% include directory ~ '/templates/includes/header.html.twig' %}
<section class="top-content-landing no-padding">
  <div class="top-title-page">
      {{ page.breadcrumb }}
  </div>
</section>
{{ page.content }}
{{ page.right_contact }}
{% include directory ~ '/templates/includes/footer.html.twig' %}
