{% include directory ~ '/templates/includes/header.html.twig' %}
{% if page.admin_menu %}
	<section class="no-padding">
	  <div class="container">
	  {{ page.admin_menu }}
	  </div>
	</section>
{% endif %}
<section class="top-content-landing no-padding">
  <div class="top-title-page search relative">
	  <div class="container">
	  	<h1>Search Result</h1>
      <div>You Searched For :</div>
	  </div>
  </div>
</section>
<div class="container">
	<div class="search-content-wrapper">
		{{ page.content }}
	</div>
</div>
{{ page.right_contact }}
{% include directory ~ '/templates/includes/footer.html.twig' %}
