{% include directory ~ '/templates/includes/header.html.twig' %}
<section class="top-content-landing no-padding">
	<div class="top-title-page">
		{{ page.breadcrumb }}
	</div>
</section>
{% if page.admin_menu %}
<section class="no-padding">
  <div class="container">
	{{ page.admin_menu }}
  </div>
</section>
{% endif %}
<div class="sort-by">
  <div class="container">
    <ul>
      <li>Sort By</li>
      <li class="divider">|</li>
      <li class="sortby-name"><a href="#" class="dropdown" data-toggle="dropdown">Name <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu js-sort-item-title">
          <li><a class="sort-asc" href="#">Ascending</a></li>
          <li><a class="sort-desc" href="#">Descending</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3 filter">
	    <div class="panel-group" id="accordionFilter" role="tablist" aria-multiselectable="true">
			  {{ page.sidebar_left }}
	    </div>
		</div>
		<div class="col-md-9">
			{{ page.content }}
		</div>
	</div>
</div>
</section>
{{ page.right_contact }}
{% include directory ~ '/templates/includes/footer.html.twig' %}
