{% include directory ~ '/templates/includes/header.html.twig' %}
<section class="top-content-landing no-padding">
  <div class="top-title-page">
      {{ page.breadcrumb }}
  </div>
</section>
{% if page.admin_menu %}
<section class="no-padding">
  <div class="container">
  {{ page.admin_menu }}
  </div>
</section>
{% endif %}
{{ page.content }}
{{ page.right_contact }}
{% include directory ~ '/templates/includes/footer.html.twig' %}
