{% include directory ~ '/templates/includes/header.html.twig' %}
<section class="top-content-landing no-padding hidden-xs">
  <div class="top-title-page">
      {{ page.breadcrumb }}
      <div class="container">
      <ol class="breadcrumb">
        {% if language == 'en' %}
        <li><a href="/{{ language }}">Home</a></li>
        <li class="active"><span>Request to Quote</span></li>
        {% else %}
        <li><a href="/{{ language }}">Home</a></li>
        <li class="active"><span>Request to Quote</span></li>
        {% endif %}
      </ol>
    </div>
  </div>
</section>
{% if page.admin_menu %}
<section class="no-padding">
  <div class="container">
  {{ page.admin_menu }}
  </div>
</section>
{% endif %}
<section class="bg-grey">
  <div class="container">
    {{ page.content }}
  </div>
</section>
{{ page.right_contact }}
{% include directory ~ '/templates/includes/footer.html.twig' %}
