{% include directory ~ '/templates/includes/header.html.twig' %}
{% if page.admin_menu %}
<section class="no-padding">
  <div class="container">
	{{ page.admin_menu }}
  </div>
</section>
{% endif %}
{{ page.content }}
{{ page.right_contact }}
{% include directory ~ '/templates/includes/footer.html.twig' %}
