{% include directory ~ '/templates/includes/header.html.twig' %}

{{ page.breadcrumb }}
{% if page.admin_menu %}
<section class="no-padding">
  <div class="container">
  {{ page.admin_menu }}
  </div>
</section>
{% endif %}
{{ page.content_top }}
<div class="sort-by">
  <div class="container">
    <ul>
      <li>Sort By</li>
      <li class="divider">|</li>
      <li class="sortby-name"><a href="#" class="dropdown" data-toggle="dropdown">Name <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu js-sort-item-name">
          <li><a class="sort-asc" href="#">Ascending</a></li>
          <li><a class="sort-desc" href="#">Descending</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3 filter">
	    <div class="panel-group" id="accordionFilter" role="tablist" aria-multiselectable="true">
			  {{ page.sidebar_left }}
	    </div>
		</div>
		<div class="col-md-9">
			{{ page.content }}
		</div>
	</div>
</div>
{{ page.right_contact }}
{% include directory ~ '/templates/includes/footer.html.twig' %}
<div class="compare-wrapper">
  <div class="compare-products">
    <div class="container">
    	<div class="compare-warning">Max 4 items to compare</div>
      <div class="row">
        <div class="col-xs-12 col-sm-10">
          <div class="row">
            <div class="col-xs-3 col-sm-3">
              <div class="compare-item js-compare-0">
                <div class="compare-empty text-center img-full">
                  <img src="/{{ directory }}/images/compare-empty.jpg" alt="">
                  <div class="compare-empty-text">
                    Add one more item to compare
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3">
              <div class="compare-item js-compare-1">
                <div class="compare-empty text-center img-full">
                  <img src="/{{ directory }}/images/compare-empty.jpg" alt="">
                  <div class="compare-empty-text">
                    Add one more item to compare
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3">
              <div class="compare-item js-compare-2">
                <div class="compare-empty text-center img-full">
                  <img src="/{{ directory }}/images/compare-empty.jpg" alt="">
                  <div class="compare-empty-text">
                    Add one more item to compare
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3">
              <div class="compare-item js-compare-3">
                <div class="compare-empty text-center img-full">
                  <img src="/{{ directory }}/images/compare-empty.jpg" alt="">
                  <div class="compare-empty-text">
                    Add one more item to compare
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2">
          <div class="compare-btn text-center">
            <p><a class="btn btn-primary" href="/product/compare">Compare Now</a></p>
            <p><a class="link-underline" href="/product-compare/remove-all">Clear all items</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>