{% include directory ~ '/templates/includes/header.html.twig' %}
<section class="top-content-landing no-padding">
  <div class="top-title-page">
      {{ page.breadcrumb }}
  </div>
</section>
{% if page.admin_menu %}
<section class="no-padding">
  <div class="container">
	{{ page.admin_menu }}
  </div>
</section>
{% endif %}
{% if page.content_top %}
{{ page.content_top }}
{% endif %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 filter">
        <div class="panel-group" id="accordionFilter" role="tablist" aria-multiselectable="true">
          {{ page.sidebar_left }}
        </div>
      </div>
      <div class="col-sm-9">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
{{ page.right_contact }}
{% include directory ~ '/templates/includes/footer.html.twig' %}
<div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
      </div>
      <div class="modal-body">
        {{drupal_block('contactblock_3')}}
      </div>
    </div>
  </div>
</div>