{% include directory ~ '/templates/includes/header.html.twig' %}
{{ attach_library('trakindo_2016/location') }}
<section class="top-content-landing no-padding">
  <div class="top-title-page">
      {{ page.breadcrumb }}
  </div>
</section>
{% if page.admin_menu %}
<section class="no-padding">
  <div class="container">
  {{ page.admin_menu }}
  </div>
</section>
{% endif %}
<section class="top-content-landing no-padding">
	<div class="maps-wrapper">
    {{ page.content }}
    <div id="location-content" class="location-info">
      <div class="location-info-wrapper js-location-info">
        <div class="js-open-location-info"></div>
        <div class="location-info-detail">
        </div>
      </div>
    </div>
    <div class="location-info">
      <div class="container filter-container">
        <div class="location-filter filter">
          <div class="location-filter-wrapper js-filter-wrapper filterOpen">
            <div class="filter-toggle js-toggle-filter">Find Us <span></span></div>
            <div class="filter-option js-filter-option">
              <div class="panel-group" id="accordionFilterLocation" role="tablist" aria-multiselectable="true">
                 {{ page.content_bottom }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</section>
{% if drupal_view('location', 'block_3')|render|striptags|trim is not empty %}
<section class="no-padding">
  <div class="container">
    <div class="map-result">
      <div class="result-bar">
      {{ drupal_view('location', 'block_3') }}
      </div>
      <div class="result-info">
      {% if drupal_view('location', 'block_1')|render|striptags|trim is not empty %}
        <div class="result-list">
          {{ drupal_view('location', 'block_1') }}
        </div>
      {% endif %}
      {% if drupal_view('location', 'block_2')|render|striptags|trim is not empty %}
        <div class="result-list">
          {{ drupal_view('location', 'block_2') }}
        </div>
      {% endif %}
      {% if drupal_view('location', 'block_5')|render|striptags|trim is not empty %}
        <div class="result-list">
          {{ drupal_view('location', 'block_5') }}
        </div>
      {% endif %}
      {% if drupal_view('location', 'block_4')|render|striptags|trim is not empty %}
        <div class="result-list">
          {{ drupal_view('location', 'block_4') }}
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{{ page.right_contact }}
{% include directory ~ '/templates/includes/footer.html.twig' %}
