<div class="thankyou-wrapper">
	{% if form_id == 'contact-message-newsletter-form' %}
  	<div class="thankyou-item">
      <span class="thank-label">Name</span>: 
      <span class="thank-text">{{ data['first_name'] }}</span>
    </div>
  	<div class="thankyou-item">
      <span class="thank-label">Email</span>: 
      <span class="thank-text">{{ data['business_email'] }}</span>
    </div>
  	<div class="thankyou-item">
      <span class="thank-label">Phone Number</span>: 
      <span class="thank-text">{{ data['phone_number'] }}</span>
    </div>
  {% endif %}
  {% if form_id matches '/contact-message-career-opportunities-form/' %}
    <div class="thankyou-item">
      <span class="thank-label">Full Name</span>: 
      <span class="thank-text">{{ data['salutation'] }} {{ data['first_name'] }} {{ data['mid_name'] }} {{ data['last_name'] }}</span>
    </div>
    <div class="thankyou-item">
      <span class="thank-label">Email</span>: 
      <span class="thank-text">{{ data['business_email'] }}</span>
    </div>
    <div class="thankyou-item">
      <span class="thank-label">Current Location</span>: 
      <span class="thank-text">{{ data['city'] }}</span>
    </div>
    <div class="thankyou-item">
      <span class="thank-label">Position</span>: 
      <span class="thank-text">{{ data['position'] }}</span>
    </div>
  {% endif %}
  {% if form_id matches '/contact_message_request_to_quote_form/' %}
    <div class="thankyou-item">
      <span class="thank-label">Full Name</span>: 
      <span class="thank-text">{{ data['salutation'] }} {{ data['first_name'] }} {{ data['mid_name'] }} {{ data['last_name'] }}</span>
    </div>
    <div class="thankyou-item">
      <span class="thank-label">Business Email</span>: 
      <span class="thank-text">{{ data['business_email'] }}</span>
    </div>
    <div class="thankyou-item">
      <span class="thank-label">Phone Number</span>: 
      <span class="thank-text">{{ data['country_code'] }} {{ data['area_code'] }} {{ data['phone_number'] }}</span>
    </div>
    <div class="thankyou-item">
      <span class="thank-label">Detailed Location</span>: 
      <span class="thank-text">{{ data['province'] }} {{ data['city'] }} {{ data['post_code'] }}</span>
    </div>
    {% if data['company_name'] %}
    <div class="thankyou-item">
      <span class="thank-label">Company Name</span>: 
      <span class="thank-text">{{ data['company_name'] }}</span>
    </div>
    {% endif %}
    <div class="thankyou-item">
      <span class="thank-label">Category</span>: 
      <span class="thank-text">
      {{ data['category']|join(', ') }}
      </span>
    </div>
    <div class="thankyou-item">
      <span class="thank-label">Model Name</span>: 
      <span class="thank-text">{{ data['model_name'] }}</span>
    </div>
    <div class="thankyou-item">
      <span class="thank-label">Request</span>: 
      <span class="thank-text">{{ data['message'] }}</span>
    </div>
  {% endif %}
  {% if form_id matches '/contact_message_request_to_ru_form/' %}
    <div class="thankyou-item">
      <span class="thank-label">Full Name</span>: 
      <span class="thank-text">{{ data['salutation'] }} {{ data['first_name'] }} {{ data['mid_name'] }} {{ data['last_name'] }}</span>
    </div>
    <div class="thankyou-item">
      <span class="thank-label">Business Email</span>: 
      <span class="thank-text">{{ data['business_email'] }}</span>
    </div>
    <div class="thankyou-item">
      <span class="thank-label">Phone Number</span>: 
      <span class="thank-text">{{ data['country_code'] }} {{ data['area_code'] }} {{ data['phone_number'] }}</span>
    </div>
    <div class="thankyou-item">
      <span class="thank-label">Detailed Location</span>: 
      <span class="thank-text">{{ data['province'] }} {{ data['city'] }}</span>
    </div>
    {% if data['post_code'] %}
    <div class="thankyou-item">
      <span class="thank-label">Postal Code</span>: 
      <span class="thank-text">{{ data['post_code'] }}</span>
    </div>
    {% endif %}
    {% if data['company_name'] %}
    <div class="thankyou-item">
      <span class="thank-label">Company Name</span>: 
      <span class="thank-text">{{ data['company_name'] }}</span>
    </div>
    {% endif %}
    <div class="thankyou-item">
      <span class="thank-label">Product Type</span>: 
      <span class="thank-text">
      {{ data['product_type']|join(', ') }}
      </span>
    </div>
    {% if data['model_name'] %}
    <div class="thankyou-item">
      <span class="thank-label">Model Name</span>: 
      <span class="thank-text">{{ data['model_name'] }}</span>
    </div>
    {% endif %}
    {% if data['work_tools'] %}
    <div class="thankyou-item">
      <span class="thank-label">Work Tools</span>: 
      <span class="thank-text">{{ data['work_tools'] }}</span>
    </div>
    {% endif %}
    <div class="thankyou-item">
      <span class="thank-label">Request</span>: 
      <span class="thank-text">{{ data['message'] }}</span>
    </div>
  {% endif %}
    {% if form_id matches '/contact_message_request_to_service_form/' %}
    <div class="thankyou-item">
      <span class="thank-label">Full Name</span>: 
      <span class="thank-text">{{ data['salutation'] }} {{ data['first_name'] }} {{ data['mid_name'] }} {{ data['last_name'] }}</span>
    </div>
    <div class="thankyou-item">
      <span class="thank-label">Business Email</span>: 
      <span class="thank-text">{{ data['business_email'] }}</span>
    </div>
    <div class="thankyou-item">
      <span class="thank-label">Phone Number</span>: 
      <span class="thank-text">{{ data['country_code'] }} {{ data['area_code'] }} {{ data['phone_number'] }}</span>
    </div>
    <div class="thankyou-item">
      <span class="thank-label">Detailed Location</span>: 
      <span class="thank-text">{{ data['province'] }} {{ data['city'] }}</span>
    </div>
    {% if data['post_code'] %}
    <div class="thankyou-item">
      <span class="thank-label">Postal Code</span>: 
      <span class="thank-text">{{ data['post_code'] }}</span>
    </div>
    {% endif %}
    {% if data['company_name'] %}
    <div class="thankyou-item">
      <span class="thank-label">Company Name</span>: 
      <span class="thank-text">{{ data['company_name'] }}</span>
    </div>
    {% endif %}
    {% if data['service'] %}
    <div class="thankyou-item">
      <span class="thank-label">Service</span>: 
      <span class="thank-text">{{ data['service'] }}</span>
    </div>
    {% endif %}
    <div class="thankyou-item">
      <span class="thank-label">Product Type</span>: 
      <span class="thank-text">
      {{ data['product_type']|join(', ') }}
      </span>
    </div>
    {% if data['model_name'] %}
    <div class="thankyou-item">
      <span class="thank-label">Model Name</span>: 
      <span class="thank-text">{{ data['model_name'] }}</span>
    </div>
    {% endif %}
    <div class="thankyou-item">
      <span class="thank-label">Request</span>: 
      <span class="thank-text">{{ data['message'] }}</span>
    </div>
  {% endif %}

	<div class="thank-desc-text">{% trans %}Thank you for registering your email address to receive our products and services promotional information.{% endtrans %}</div>
  <a href="/en" class="btn btn-back"><span class="back-button-icon"><i class="fa fa-mail-reply"></i></span>Back to Home</a>
</div>
