.front {
  .slider {
    position: relative;
    padding: 0;
    height: 100%;
    #home-slider {
      height: 100%;
      overflow: hidden;
      .slider-text {
        position: absolute;
        top: 14%;
        color: $color-white;
        font-family: $font-univers-bold;
        text-transform: uppercase;
        line-height: 85px;
        width: 100%;
        .text-yellow {
          color: $color-primary-yellow;
          margin-bottom: 0;
        }
        .text-desc {
          color: $color-white;
        }
        .btn {
          text-transform: capitalize;
        }
        h1{
          margin: 0px;
          margin-bottom: 36px;
        }
      }
      .owl-controls {
        position: absolute;
        bottom: 300px;
        width: 180px;
        margin: 0 auto;
        right: 0;
        left: 0;
        .owl-dot {
          span {
            background-color: #666;
            opacity: 1;
            width: 17px;
            height: 17px;
          }
          &.active {
            span {
              background-color: #fff;
              opacity: 1;
            }
          }
        }
      }
    }
    .featured {
      position: absolute;
      bottom:0;
      z-index: 88;
      .featured-wrapper {
        .featured-item {
          float: left;
          width: 20%;
          position: relative;
          a {
            display: block;
          }
          img {
            width: 100%;
          }
          .featured-text-wrapper {
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 15px 15px 0;
            font-family: $font-univers-bold;
            text-transform: uppercase;
            font-size: 22px;
            line-height: 27px;
            height: 83px;
            .featured-text-title {
              color: $color-primary-yellow;
            }
            .featured-text-summary {
              color: $color-white;
            }
          }
        }
      }
    }
  }
  .top-content-landing {
    .landing-scroll {
      bottom: 230px;
    }
  }
  #featuredSlider {
    .owl-controls {
      display: none;
    }
  }
  .news {
    background-color: $color-news-bg;
    h3.news-title {
      color: $color-primary-yellow;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 20px;
      line-height: 33px;
    }
    .news-item {
      background-color: $color-white;
      margin-bottom: 25px;
      padding: 25px;
      border: 1px solid #eee;
      min-height: 561px;
      h4.news-item-title {
        color: $color-primary-black;
      }
      .news-item-title{
        margin-top:0px;
        max-height: 108px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .news-item-cat {
        font-weight: bold;
        font-size: 22px;
        color: $color-font-category;
        margin-bottom: 10px;
      }
      .news-item-date {
        margin-top: 15px;
        color: $color-primary-black;
      }
      .news-item-desc {
        color: $color-primary-black;
      }
    }
  }
  .testimonial {
    padding: 45px 0;
    background: url(../images/frontpage/testimonial-bg.jpg) no-repeat;
    background-size: cover;
    color: #000000;
    text-align: center;
    font-weight: bold;
    .testimonial-content-wrapper {
      .testimonial-text {
        font-size: 30px;
        font-style: italic;
        position: relative;
        line-height: 36px;
        font-family: $font-univers-bold;
      }
      .testimonial-text-small {
        margin-top: 25px;
      }
    }
  }
}