<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<ul>
			<li>Track Type Tractors D6R2</li>
			<li>Hydraulic Excavator 320D2</li>
		</ul>

		<a href="#" class="btn btn-black">View Details</a>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<img alt="Land Clearing" data-entity-type="file" data-entity-uuid="de0adb96-fc5e-4c20-992e-84a0c9de4867" src="/sites/default/files/inline-images/land_clearing_0.png" />
	</div>
</div>
=====
<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<ul>
			<li>Track Type Tractors D6R2 Hydraulic</li>
			<li>Excavator 320D2,330D2L, 340DL, 349D</li>
			<li>Articulated Truck 735C, 745C</li>
		</ul>

		<a href="#" class="btn btn-black">View Details</a>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<img alt="Stripping Top Soil" data-entity-type="file" data-entity-uuid="97db73c5-deda-4158-bfc6-519497372e81" src="/sites/default/files/inline-images/stripping_top_soil_0.png" />
	</div>
</div>
====

<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<p><strong>Free Digging</strong></p>
		<ul>
			<li>Hydraulic Excavator &nbsp;320D2,330D2, 340D2L, 349D,374F,390F</li>
			<li>Hydraulic Mining &nbsp;Shovel 6015B, 6020B, 6030B</li>
		</ul>

		<p><strong>Ripping</strong></p>
		<ul>
			<li>Track Type Tractors D8R2,D9T,D10T2</li>
		</ul>

		<p><strong>Blasting</strong></p>
		<ul>
			<li>Surface Rock Drills MD6290</li>
			<li>Hammering</li>
			<li>Cat Hammer B20</li>
		</ul>

		<a href="#" class="btn btn-black">View Details</a>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<img alt="Loosening" data-entity-type="file" data-entity-uuid="3a1113e5-b8a1-479d-a9a7-53267eb82594" src="/sites/default/files/inline-images/loosening_0.png" />
	</div>
</div>

===
<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<p><strong>Main Equipment</strong></p>
		<ul>
			<li>Hydraulic Excavator 320D2,330D2L, 340D2L, 349D,374F, 390FL</li>
			<li>Hydraulic Mining Shovel 6015B, 6020B, 6030B</li>
			<li>Wheel Loader 980H,988H,990H, 992K,993K,994F</li>
			<li>Wheel Tractor Scrapper 631K</li>
		</ul>

		<p><strong>Support Equipment</strong></p>
		<ul>
			<li>Track Type Tractors D6R,D8R2,D9T, D10T2,D11T</li>
			<li>Motor Grader 120K,140K, 160M AWD, 14M3, 18M3, 24M</li>
		</ul>

		<a href="#" class="btn btn-black">View Details</a>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<img alt="Loading" data-entity-type="file" data-entity-uuid="874c7097-6900-4140-9f73-4895d3bd2825" src="/sites/default/files/inline-images/loading_0.png" />
	</div>
</div>

====
<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<p><strong>Main Equipment</strong></p>
		<ul>
			<li>Articulated Truck 735C, 745C</li>
			<li>Off Highway Truck 770G,772G,773E, 777E, 785C, 789D, 793D,797F</li>
			<li>Wheel Tractor Scrapper 631K</li>
		</ul>

		<p>Support Equipment</p>
		<ul>
			<li>Track Type Tractors D6R XL</li>
			<li>Motor Grader 120K,140K, 160M AWD, 14M3, 18M3, 24M</li>
		</ul>

		<a href="#" class="btn btn-black">View Details</a>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<img alt="Hauling" data-entity-type="file" data-entity-uuid="4fe19f30-d457-4747-a4bb-1650546e23f8" src="/sites/default/files/inline-images/hauling_0.png" /></p>
	</div>
</div>

====
<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<p><strong>Road Spreading</strong></p>
		<ul>
			<li>Motor Grader 120K,140K, 160M AWD, 14M3, 18M3, 24M3</li>
			<li>Articulated Truck 735C, 745C</li>
			<li>Wheel Tractor Scrapper 631K</li>
		</ul>

		<p><strong>Stockpile</strong></p>
		<ul>
			<li>Wheel Loader 986H, 988K, 990K</li>
			<li>Crusher Motor Grader 120K,140K, 160M AWD, 14M3, 18M3, 24M3</li>
		</ul>

		<p><strong>Dumping Area</strong></p>
		<ul>
			<li>Track Type Tractors D6R,D8R2,D9T, D10T2, D11T</li>
			<li>Motor Grader 120K,140K, 160M AWD, 14M3, 18M3, 24M</li>
		</ul>

		<a href="#" class="btn btn-black">View Details</a>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<img alt="Dumping" data-entity-type="file" data-entity-uuid="3fabca22-a184-4575-a29a-c4ea1f346898" src="/sites/default/files/inline-images/dumping_0.png" />
	</div>
</div>

=====
<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<ul>
			<li>Wheel Tractor Scrapper 631K</li>
			<li>Wheel Dozer 834K, 844K</li>
			<li>Wheel Loader 986H, 988K, 990K</li>
			<li>Track Type Tractor D6R,D8R2,D9T, D10T2, D11T&nbsp;</li>
			<li>Hydraulic Excavator 320D2,330D2L, 340D2L, 349D,374F, 390FL</li>
		</ul>

		<a href="#" class="btn btn-black">View Details</a>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<img alt="Stock Pile Material" data-entity-type="file" data-entity-uuid="36008314-4124-4da3-8ca6-5ada50b40afd" src="/sites/default/files/inline-images/stock_pile_material_handling.png" />
	</div>
</div>


=====================
<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<ul>
			<li>Track Type Tractors D6R XL with A Blade</li>
			<li>Hydraulic Excavator 320D2 with Bucket/Fixed Grapple</li>
			<li>Articulated Truck 735C,745C</li>
		</ul>

		<a href="#" class="btn btn-black">View Details</a>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<img alt="Land Clearing" data-entity-type="file" data-entity-uuid="ee0eaa87-5700-4c28-9884-663d91cc7789" src="/sites/default/files/inline-images/ug_land_clearing.png" />
	</div>
</div>

===
<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<ul>
			<li>Track Type Tractors D6R XL with A Blade&nbsp;</li>
			<li>Hydraulic Excavator 320D2 with Bucket</li>
			<li>Articulated Truck 735C,745C</li>
		</ul>

		<a href="#" class="btn btn-black">View Details</a>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<img alt="Stripping Top Soil" data-entity-type="file" data-entity-uuid="6df2654b-6589-4b9b-8f15-cf3b5c11352f" src="/sites/default/files/inline-images/ug_stripping_top_soil.png" />
	</div>
</div>

===
<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<p><strong>Main Equipment</strong></p>
		<ul>
			<li>UG Loader R1300G, R1600H, R1700G, R2900G</li>
		</ul>

		<p><strong>Support Equipment</strong></p>
		<ul>
			<li>Motor Grader 120K, 140K, 160M AWD, 14M3, 18M3, 24M</li>
		</ul>
		
		<a href="#" class="btn btn-black">View Details</a>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<img alt="Loading" data-entity-type="file" data-entity-uuid="e5558077-c8ee-4cc5-b84e-fe47877cd639" src="/sites/default/files/inline-images/ug_loading.png" />
	</div>
</div>

===
<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<p><strong>Main Equipment</strong></p>
		<ul>
			<li>UG Hauler AD30, AD45B, AD55, AD60</li>
		</ul>

		<p><strong>Support Equipment</strong></p>
		<ul>
			<li>Motor Grader 120K, 140K, 160M AWD, 14M3, 18M3, 24M</li>
		</ul>
		<a href="#" class="btn btn-black">View Details</a>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<img alt="Hauling" data-entity-type="file" data-entity-uuid="984f6aa7-b585-4ac3-867a-7aadc649b3b7" src="/sites/default/files/inline-images/ug_hauling.png" />
	</div>
</div>

===
<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<p><strong>Road Spreading</strong></p>
		<ul>
			<li>Motor Grader 120K, 140K, 160M AWD, 14M3, 18M3, 24M</li>
		</ul>
		
		<p><strong>Stockpile</strong></p>
		<ul>
			<li>UG Loader R1300G, R1600H, R1700G, R2900G</li>
		</ul>

		<p><strong>Crusher</strong></p>
		<ul>
			<li>Motor Grader 120K, 140K, 160M AWD, 14M3, 18M3, 24M</li>
		</ul>
		
		<a href="#" class="btn btn-black">View Details</a>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<img alt="Dumping" data-entity-type="file" data-entity-uuid="3546a614-2636-4f01-8af1-89089fa7195e" src="/sites/default/files/inline-images/dumping_1.png" />
	</div>
</div>


