{%
set classes = [
dom_id ? 'js-view-dom-id-' ~ dom_id ~ ' product-list' : 'product-list',
]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="bold search-count top">
    {{ header }}
    <div class="pull-right">
      <div class="search-pagination">
        {{ pager }}
      </div>
    </div>
  </div>
  <div class="search-list">
    {{ rows }}
  </div>
  {{ empty }}
  <div class="bold search-count bottom">
    {{ footer }}
    <div class="pull-right">
      <div class="search-pagination">
        {{ pager }}
      </div>
    </div>
  </div>
</div>