{%
set classes = [
dom_id ? 'js-view-dom-id-' ~ dom_id ,
]
%}
<div {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}
  
  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}
  
  {{ exposed }}
  {{ attachment_before }}
  
  <div id="home-slider" class="js-home-slider">
  {{ rows }}
  </div>
  {{ empty }}
  {{ pager }}
  
  {{ attachment_after }}
  {{ more }}
  
  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}
  
  {{ feed_icons }}
</div>