{%
set classes = [
dom_id ? 'js-view-dom-id-' ~ dom_id ~ ' product-list' : 'product-list',
]
%}
<div{{ attributes.addClass(classes) }}>
  {% if header %}
    {{ header }}
  {% endif %}
  
  <div class="js-select-sortby">
    {{ exposed }}
  </div>

  {{ attachment_before }}

  <div class="row">
    {{ rows }}
  </div>
  {{ empty }}
  {{ pager }}
  
  {{ attachment_after }}
  {{ more }}
  
  {% if footer %}
    {{ footer }}
  {% endif %}
  
  {{ feed_icons }}
</div>