{%
set classes = [
dom_id ? 'js-view-dom-id-' ~ dom_id ~ ' news-content-wrapper' : 'news-content-wrapper',
]
%}
<div{{ attributes.addClass(classes) }}>
  {% if header %}
    {{ header }}
  {% endif %}
  
  {{ exposed }}
  {{ attachment_before }}

  <div class="row">
    {{ rows }}
  </div>
  {{ empty }}
  {{ pager }}
  
  {{ attachment_after }}
  {{ more }}
  
  {% if footer %}
    {{ footer }}
  {% endif %}
  
  {{ feed_icons }}
</div>