{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<ul class="tab-nav nav">
{% for row in rows %}
	<li class="navCol{{loop.length}}{% if loop.index == 1 %} active{% endif %}">
		<a  href="#industryTab-{{ loop.index }}" data-toggle="tab">
	  	{{ row.content }}
	  </a>
  </li>
{% endfor %}
</ul>