{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

<section class="no-padding">
  <div class="detail-header">
    <div class="container">
      <div class="row">
         <div class="col-md-6">
          <div class="slider dev-thumb">
            {% for field in fields if field.label == 'image' -%}
              {{ field.content }}
            {%- endfor %}
          </div>
        </div>
        <div class="col-md-6">
          {% for field in fields if field.label == 'custom' -%}
            {{ field.content }}
          {%- endfor %}
          <div class="product-detail-heading">
            <div class="product-download">
              <div class="panel-group border-style clearfix" id="parentDownload" role="tablist" aria-multiselectable="true">
                <div class="panel">
                  <div class="panel-heading" role="tab" id="headingDownload">
                    <h4 class="panel-title">
                      <a role="button" class="collapsed" data-toggle="collapse" data-parent="#parentDownload" href="#collapseDownload" aria-expanded="true" aria-controls="collapseDownload">
                        <span></span> Download Detail Specification
                      </a>
                    </h4>
                  </div>
                  <div id="collapseDownload" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDownload">
                  <div class="panel-body">
                    {% for field in fields if field.label == 'brochure' -%}
                      {{ field.content }}
                    {%- endfor %}
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="content-page product-brochure js-brochure">
        <h3>Download</h3>
        <div class="table-head-caption">Related Materials</div>
        {% for field in fields if field.label == 'download' -%}
          {{ field.content }}
        {%- endfor %}
      </div>
    </div>
  </div>
</section>
<section class="no-padding detail-menu">
  <ul class="nav-menu list-inline">
    <li><a href="#feature">Features & Benefits</a></li>
    <li><a href="#specification">Specification</a></li>
  </ul>
</section>
<section>
  <div class="container">
    <h3 id="feature">FEATURES & BENEFITS</h2>
    <div class="panel-group border-style clearfix" id="parentFeature" role="tablist" aria-multiselectable="true">
    {% for field in fields if field.label == 'feature' -%}
      {{ field.content }}
    {%- endfor %}
    </div>
  </div>
</section>
<section class="no-padding">
  <div class="container">
    <h3 id="specification">SPECIFICATION</h2>
    <div class="panel-group border-style clearfix" id="parentSpecification" role="tablist" aria-multiselectable="true">
    {% for field in fields if field.label == 'specification' -%}
      {{ field.content }}
    {%- endfor %}
    </div>
  </div>
</section>