{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="tab-content clearfix">
{% for row in rows %}
	<div class="tab-pane {% if loop.index == 1 %} active {% endif %}" id="industryTab-{{ loop.index }}">
		<div class="panel-group border-style industry-panel" id="accordionOilGas" role="tablist" aria-multiselectable="true">
  		{{ row.content }}
  	</div>
	</div>
{% endfor %}
</div>