{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<section>
  <div class="container">
  	<div class="grid-list">
    	<div class="row">
        <div class="col-sm-4">
          <div class="thumb">
             <h3>{% trans %}Blog{% endtrans %}</h3>
            {{ drupal_view('about_us_category', 'block_2') }}
            <a href="{% trans %}/en/about-us/blog{% endtrans %}" class="btn btn-primary">{% trans %}View Details{% endtrans %}</a>
          </div>
        </div>
    		{% for row in rows %}
      		<div class="col-sm-4">
        	{{ row.content }}
      		</div>
    		{% endfor %}
    	</div>
    </div>
  </div>
</section>