{% if breadcrumb %}
  <ol class="breadcrumb single">
  {% for item in breadcrumb %}
    {% if item.url %}
    <li>
        <a href="{{ item.url }}">{{ item.text }}</a>
    </li>
    {% else %}
    <li class="active">
      <span>{{ item.text }}</span> 
    </li>
    {% endif %}
  {% endfor %}
  </ol>
{% endif %}