{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, 0, 0) }}

{% macro menu_links(items, attributes, menu_level, title, url) %}
  {% import _self as menus %}
  {% if items %}
    <ul {% if menu_level == 0 %} class="dl-menu" {% elseif menu_level > 0 %} class="dl-submenu" {% endif %}>
    {% for item in items %}
      {% if loop.index == 1 %}
        {% if title %} 
          <li class="sub-menu-title">{{ link(title, url) }}</li>
        {% endif %}
      {% endif %}
      <li{{ item.attributes }}>
        {% if item.title matches '/®/'  %}
          {% autoescape 'html' %}
           <a href="{{ item.url }}">{{item.title|replace({'®':'<sup>®</sup>'})|raw }}</a>
          {% endautoescape %}
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
        
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, item.title, item.url) }}
        {% endif %}
      </li>
    {% endfor %}
    <li class="js-menu-lang"></li>
    </ul>
  {% endif %}
{% endmacro %}
