{#
/**
 * @file
 * Default theme implementation for field collection items.
 *
 * Available variables:
 * - content: An array of comment items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - title: The (sanitized) field collection item label.
 * - url: Direct url of the current entity if specified.
 * - page: Flag for the full page state.
 * - attributes: HTML attributes for the surrounding element.
 *    Attributes include the 'class' information.
 * - content_attributes: HTML attributes for the content element.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 *
 * @ingroup themeable
 */
#}
{% if content.field_image|render|trim is not empty %}
  <div class="row">
    <div class="col-md-9">
      <div class="title">{{ content.field_title }}</div>
      <div class="content">{{ content.field_text }}</div>
    </div>
    <div class="col-md-3">
      {{ content.field_image }}
    </div>
  </div>
{% else %}
	<div class="title">{{ content.field_title }}</div>
	<div class="content">{{ content.field_text }}</div>
{% endif %}
