{#
/**
 * @file
 * Default theme implementation for field collection items.
 *
 * Available variables:
 * - content: An array of comment items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - title: The (sanitized) field collection item label.
 * - url: Direct url of the current entity if specified.
 * - page: Flag for the full page state.
 * - attributes: HTML attributes for the surrounding element.
 *    Attributes include the 'class' information.
 * - content_attributes: HTML attributes for the content element.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 *
 * @ingroup themeable
 */
#}
{% set rand = random() %}
<div class="panel">
  <div class="panel-heading" role="tab" id="heading-cleaning-{{ rand }}">
    <h4 class="panel-title">
      <a class="collapsed panel-heading-img" role="button" data-toggle="collapse" data-parent="#accordionOilGas" href="#collapse-cleaning-{{ rand }}" aria-expanded="false" aria-controls="collapse-cleaning-{{ rand }}">
        <span>&zwnj;</span>{{content.field_title_point}}
        {{content.field_point_title_image}}
      </a>
    </h4>
  </div>
  <div id="collapse-cleaning-{{ rand }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-cleaning-{{ rand }}" aria-expanded="false">
    <div class="panel-body">
      <div class="content-body">
        <hr>
        {{content.field_point_description}}
      </div>
    </div>
  </div>
</div>