{#
/**
 * @file
 * Default theme implementation for field collection items.
 *
 * Available variables:
 * - content: An array of comment items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - title: The (sanitized) field collection item label.
 * - url: Direct url of the current entity if specified.
 * - page: Flag for the full page state.
 * - attributes: HTML attributes for the surrounding element.
 *    Attributes include the 'class' information.
 * - content_attributes: HTML attributes for the content element.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 *
 * @ingroup themeable
 */
#}
{% set rand = random() %}
<div class="panel">
	<div class="panel-heading" role="tab" id="heading-spec-{{ rand }}">
    <h4 class="panel-title">
      <a role="button" class="collapsed" data-toggle="collapse" data-parent="#parentspec" href="#accordion-spec-{{ rand }}" aria-expanded="true" aria-controls="accordion-spec-{{ rand }}">
        <span></span> {{ content.field_spec_category }}
      </a>
    </h4>
	</div>
	<div id="accordion-spec-{{ rand }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-spec-{{ rand }}">
	  <div class="panel-body">
	    <div class="inner-container">
	    	 <table class="table table-bordered tbl-spec">
	    	 	<div class="table-head-caption">Standard Equipment</div>
	    		{{ content.field_fork_lift_spec_detail }}
	    	</table>
	    </div>
	  </div>
	</div>
</div>
