{#
/**
 * @file
 * Default theme implementation for field collection items.
 *
 * Available variables:
 * - content: An array of comment items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - title: The (sanitized) field collection item label.
 * - url: Direct url of the current entity if specified.
 * - page: Flag for the full page state.
 * - attributes: HTML attributes for the surrounding element.
 *    Attributes include the 'class' information.
 * - content_attributes: HTML attributes for the content element.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 *
 * @ingroup themeable
 */
#}
{% set rand = random() %}
<div class="panel">
	<div class="panel-heading" role="tab" id="heading-feature-{{ rand }}">
    <h4 class="panel-title">
      <a role="button" class="collapsed" data-toggle="collapse" data-parent="#parentFeature" href="#accordion-feature-{{ rand }}" aria-expanded="true" aria-controls="accordion-feature-{{ rand }}">
        <span></span> {{ content.field_title }}
      </a>
    </h4>
	</div>
	<div id="accordion-feature-{{ rand }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-feature-{{ rand }}">
	  <div class="panel-body">
	    <div class="inner-container">
        {{ content.field_text }}
	    	{{ content.field_salesfeature }}
	    </div>
	  </div>
	</div>
</div>
