{#
/**
 * @file
 * Theme override for an item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The custom list style.
 *
 * @see template_preprocess_item_list()
 */
#}
{% if context.list_style %}
  {%- set attributes = attributes.addClass('item-list__' ~ context.list_style) %}
{% endif %}
{% if items or empty %}
  {%- if title is not empty -%}
    <h3>{{ title }}</h3>
  {%- endif -%}

  {%- if items -%}
      {%- for item in items -%}
        {% if loop.first %}
          {% if loop.length > 1 %}
            {% set classes = 'list-unstyled js-product-slider' %}
          {% else %}
            {% set classes = 'list-unstyled' %}
          {% endif %}
            <{{ list_type }}{{ attributes.addClass(classes) }}>
        {% endif %}
          <li{{ item.attributes.addClass('item') }}>{{ item.value }}</li>
        {% if loop.last %}
        </{{ list_type }}>
        {% endif %}
      {%- endfor -%}
  {%- else -%}
    {{- empty -}}
  {%- endif -%}
{%- endif %}
