html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  height: 100%;
}
body {
  font-family: $font-body;
  font-size: 18px;
  color: $color-font-body;
  background-color: $color-white;
  padding-top: 126px;
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
  &.link-block {
    display: block;
  }
  &.link-underline {
    text-decoration: underline;
  }
}
input,
select,
textarea {
  outline: 0 !important;
}
img {
  max-width: 100%;
  height: auto;
}
.img-full img {
  width: 100%;
}

.img-thumbnail {
  border: 5px solid $color-white;
  @include borderRadius(0);
}
h1,h2,h3,h4,h5 {
  font-family: $font-univers-bold;
  a {
    color: $color-primary-black;
    &:hover,&:focus {
      color: $color-primary-black;
    }
  }
}

h1 {
  font-size: 75px;
  color: $color-primary-yellow;
  text-transform: uppercase;
  margin-bottom: 25px;
  line-height: 90px;
}

h2 {
  font-size: 60px;
  line-height: 65px;
}

h3 {
  font-size: 45px;
  line-height: 50px;
}

h4 {
  /*font-size: 30px;*/
  font-size: 26px;
  line-height: 36px;

}

h5 {
  font-size: 22px;
  line-height: 26px;
}

.size-h4 {
  font-size: 26px;
  line-height: 36px;

}

.size-h5 {
  font-size: 22px;
  line-height: 26px;
}

.size-breadcrumb {
  font-size: 16px;
}

.size-helper {
  font-size: 14px;
}

hr.black-line {
  border-color: $color-border-black;
  margin-bottom: 48px;
}
hr.dark-line {
  border-color: $color-result-field;
  margin-bottom: 48px;
}
section {
  padding: 2% 0;
  &.no-padding {
    padding: 0;
  }
  &.no-padding-top {
    padding-top: 0;
  }
  &.no-padding-bottom {
    padding-bottom: 0;
  }
  &.bg-primary {
    background-color: $color-primary-yellow;
    color: $color-primary-black;
  }
  &.bg-img {
    background: url(../images/grey-content-bg.jpg) no-repeat center center;
    @include background-size(cover);
    color: $color-primary-black;
    padding: 5% 0 8% 0;
  }
  &.bg-grey {
    background-color: $bg-grey;
    color: $color-primary-black;
  }
  &.bg-white {
    background-color: $color-white;
    color: $color-primary-black;
  }
}

.breadcrumb {
  padding: 0;
  background-color: transparent;
  &>li {
    a {
      border: 1px solid $breadcrumb-color;
      padding: 8px 20px;
      display: inline-block;
      @extend .size-breadcrumb;
      color: $color-primary-black;
      margin-top: 20px;
      &:hover {
        border-color: $color-primary-yellow;
      }
    }
    &.active {
      span {
        display: inline-block;
        padding: 8px 20px;
        border: 1px solid $color-primary-yellow;
        color: $color-primary-black;
        @extend .size-breadcrumb;
        font-weight: 700;
      }
    }
    + li {
      &:before {
        content: "\f105";
        display: inline-block;
        padding: 0 10px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 22px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        top: 3px;
      }
    }
  }
  &.single {
    margin-top: 0;
    margin-bottom: 0;
    height: 80px;
  }
}

label.upload-file {
  position: relative;
  cursor: pointer;
  border: 1px solid $upload-btn-border-color;
  background-color: $color-white;
  color: $upload-btn-color;
  padding: 15px;
  font-family: $font-body;
  font-weight: 400;
  display: block;
  input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  &>span {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 15px;
  }
}

ul.sort-by {
  padding: 6px 0;
  margin: 0;
  li {
    &:first-child {
      font-weight: bold;
    }
    &.title-list {
      font-size: 16px;
      vertical-align: middle;
      text-align: left;
    }
    &.separator {
      color: $color-sortby-separator;
    }
    .btn-group {
      .btn {
        text-align: left;
      }
      button.dropdown-toggle {
        font-size: 16px;
        color: $color-sortby-button;
        padding: 0 10px;
        span {
          font-size: 16px;
          margin-left: 10px;
        }
        &:hover {
          background-color: transparent;
        }
        &:focus {
          background-color: transparent;
        }
      }
      &.open {
        button.dropdown-toggle {
          @include boxShadow(none);
        }
      }
      &.lg {
        button.dropdown-toggle {
          font-size: 22px;
          font-weight: 700;
        }
      }
      &.color-orange {
        button.dropdown-toggle {
          color: $color-orange;
          span {
            color: $color-sortby-button;
          }
        }
      }
    }
  }
}

.panel-group {
  .panel {
    border: none;
    border-radius: 0;
    margin-bottom: 15px;
    @include boxShadow(none);
    .panel-heading {
      padding: 0;
      .panel-title {
        a {
          padding: 15px 15px 15px 60px;
          font-family: $font-body;
          font-size: 22px;
          display: block;
          position: relative;
          min-height: 62px;
          span {
            width: 30px;
            height: 30px;
            // display: inline-block;
            // margin-right: 15px;
            // vertical-align: middle;
            position: absolute;
            left: 15px;
            top: 16px;
            background: url(../images/collapse-minus.png) no-repeat;
          }
          &.collapsed {
            span {
              background: url(../images/collapse-plus.png) no-repeat;
            }
          }
          &:hover {
            color: inherit;
          }
        }
      }
    }
    .panel-collapse {
      .panel-body {
        border-top: none;
        padding: 0 20px;
      }
    }
  }
  &.border-style {
    .panel {
      .panel-heading {
        .panel-title {
          a {
            font-family: $font-univers-bold;
            line-height: 30px;
            border: 1px solid $color-primary-yellow;
            background-color: $color-primary-yellow;
            &.collapsed {
              border: 1px solid $color-border-result-content;
              background-color: $color-white;
              span {
                background: url(../images/plus.jpg) no-repeat;
              }
            }
          }
        }
      }
      .panel-collapse {
        .panel-body {
          background-color: $color-primary-yellow;
        }
      }
    }
    &.industry-panel {
      margin: 0;
      .panel {
        margin: 0;
        .panel-heading {
          .panel-title {
            a {
              border: none;
              &.panel-heading-img {
                img {
                  display: none;
                }
              }
              &.collapsed {
                border-bottom: 1px solid $color-border-result-content;
                &.panel-heading-img {
                  line-height: 50px;
                  span {
                    top: 25px;
                  }
                  img {
                    display: block;
                    max-height: 50px;
                    position: absolute;
                    right: 0;
                    top: 13px;
                  }
                }
              }
            }
          }
        }
        .panel-collapse {
          .panel-body {
            background-color: $color-primary-yellow;
          }
        }
        &:last-child {
          .panel-heading {
            .panel-title {
              a {
                &.collapsed {
                  border-bottom: none;
                }
              }
            }
          }
        }
      }
    }
    &.bg-white {
      .panel {
        .panel-heading {
          .panel-title {
            a {
              border: 1px solid $color-border-result-content;
              background-color: $color-white;
            }
          }
        }
        .panel-collapse {
          .panel-body {
            background-color: $color-white;
            padding: 0;
          }
        }
      }
    }
  }
  &.compare {
    .panel {
      .panel-heading {
        .panel-title {
          a {
            background-color: $color-primary-black;
            font-weight: 700;
            color: $color-white;
            padding: 7px 15px 7px 60px;
            min-height: 50px;
            span {
              left: 10px;
              top: 10px;
            }
          }
        }
      }
      .panel-collapse {
        .panel-body {
          padding: 0;
        }
      }
    }
  }
}

input {
  &[type=checkbox] {
    &:checked {
      background: #fff;
      color: #000;
    }
  }
}

.facet-item {
  position: relative;
  label {
    display: block;
    padding: 4px 6px 4px 30px;
    font-weight: 700;
    font-size: 16px;
    &.head-label {
      background-color: $color-primary-yellow;
    }
  }
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.top-content-landing {
  .shadow-bg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      z-index: 88;
      top: 0;
      left: 0;
    }
  }
  .landing-content-wrapper {
    position: absolute;
    z-index: 89;
    width: 100%;
    top: 12%;
    .landing-slogan {
      h2.landing-slogan-yellow {
        color: $color-primary-yellow;
        font-size: 45px;
        text-transform: uppercase;
        margin: 0;
      }
      h1.landing-slogan-white {
        color: $color-white;
        font-size: 60px;
        text-transform: uppercase;
        line-height: 70px;
        margin: 0;
      }
      a.btn {
        margin-top: 5px;
        margin-bottom: 20px;
      }
      .landing-description {
        color: #fff;
        margin-top: 10px;
        padding: 0 0 48px 0;
      }
    }
    .landing-submenu {
      .landing-sub-item {
        position: relative;
        float: left;
        a.sub-text-wrapper {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 10px;
          background-color: $bg-sub-text-wrapper;
          display: block;
          .sub-text-yellow {
            color: $color-primary-yellow;
            font-size: 22px;
            font-family: $font-univers-bold;
            text-transform: uppercase;
          }
          .sub-text-white {
            color: $color-white;
            font-size: 22px;
            font-family: $font-univers-bold;
            text-transform: uppercase;
          }
          &:hover {
            .sub-text-white {
              color: $color-primary-yellow;
            }
          }
        }
      }
    }
  }
  .landing-scroll {
    position: absolute;
    bottom: 30px;
    width: 100%;
    .landing-scroll-in {
      text-align: center;
      a {
        z-index: 90;
        position: relative;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 60px;
        font-family: $font-body;
        span {
          position: absolute;
          top:10px;
          left: 28px;
          width: 18px;
          height: 18px;
          margin-left: 0;
          border-left: 2px solid #fff;
          border-bottom: 2px solid #fff;
          z-index: 99;
          @include rotate(-45deg);
          @include animationKeyFrame( sdb07 2s infinite);
          opacity: 0;
          box-sizing: border-box;
          &:nth-of-type(1) {
            @include animationDelay(0s);
          }
          &:nth-of-type(2) {
            top: 18px;
            @include animationDelay(.15s);
          }
          &:nth-of-type(3) {
            top: 26px;
            @include animationDelay(.3s);
          }
        }
      }
      
    }
  }
}

.table-head-caption {
  background-color: $color-primary-black;
  color: $color-white;
  font-size: 18px;
  font-family: $font-univers-bold;
  padding: 5px 15px;
}
.table {
  &.tbl-dev,
  &.tbl-she {
    thead {
      tr {
        th {
          padding: 8px 15px;
          font-weight: 700;
        }
      }
    }
    &>tbody {
      tr {
        &>td {
          padding: 8px 15px;
          &:first-child {
            font-weight: 700;
          }
          a {
            color: $color-primary-black;
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.tbl-dev {
    &>thead {
      tr {
        &>th {
          &:first-child {
            width: 80%;
          }
        }
      }
    }
  }
  &.tbl-she {
    &>thead {
      tr {
        &>th {
          &:first-child {
            width: 10%;
            text-align: center;
          }
          &:nth-child(2) {
            width: auto;
          }
          &:nth-child(3) {
            width: 15%;
          }
          &:nth-child(4) {
            width: 25%;
          }
        }
      }
    }
    &>tbody {
      tr {
        &>td {
          &:first-child {
            text-align: center;
          }
        }
      }
    }
  }
  &.tbl-training {
    thead {
      background-color: $color-primary-black;
      tr {
        th {
          color: $color-white;
          font-family: $font-univers-bold;
          padding: 8px 15px;
        }
      }
    }
    &>tbody {
      tr {
        &>td {
          padding: 8px 15px;
          a {
            color: $color-primary-black;
            text-decoration: underline;
          }
          &:first-child {
            width: 5%;
          }
          &:nth-child(2) {
            width: auto;
          }
          &:nth-child(3) {
            width: 10%;
          }
          &:nth-child(4) {
            width: 10%;
          }
        }
      }
    }
  }
  &.tbl-spec {
    tr {
      th {
        width: 50%;
        padding: 8px 15px;
        background-color: $color-white;
        font-weight: 400;
        &:first-child {
          background-color: rgb(246, 246, 246);
        }
      }
      td {
        padding: 8px 15px;
        background-color: $color-white;
        &:first-child {
          background-color: rgb(246, 246, 246);
        }
        a {
          color: $color-primary-black;
          text-decoration: underline;
        }
      }
    }
  }
}

.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

ul.list-strip {
  li {
    position: relative;
    padding-left: 15px;
    &:before {
      content: "-";
      position: absolute;
      top: -1px;
      left: 0;
    }
  }
}

.nav-tabs {
  border-bottom: none;
}
.tabs-below {
  .nav-tabs {
    border-top: none;
    border-bottom: none;
    font-size: 0;
    text-align: right;
    margin-top: 30px;
    &>li {
      margin-top: -1px;
      margin-bottom: 0;
      display: inline-block;
      float: none;
      border: none;
      &>a {
        @include borderRadius(0);
        border-bottom: 6px solid transparent;
        font-size: 28px;
        color: $color-font-body;
        text-align: center;
        padding: 30px 20px;
      }
      &.active {
        border: none;
        &>a {
          border: none;
          border-bottom: 6px solid $color-white;
          background-color: transparent;
        }
      }
      &:focus {
        border: none;
        &>a {
          border: none;
          border-bottom: 6px solid $color-white;
          background-color: transparent;
        }
      }
      &:hover {
        border: none;
        &>a {
          border: none;
          border-bottom: 6px solid $color-white;
          background-color: transparent;
        }
      }
    }
  }
}

blockquote {
  /*padding: 70px 30px 0 30px;*/
  margin: 0 0 20px 0;
  /*font-size: 22px;*/
  font-weight: 700;
  border-left: 10px solid $color-primary-yellow;
}

.tab-container {
  ul.tab-nav {
    position: relative;
    li {
      float: left;
      text-align: center;
      text-transform: uppercase;
      border-top: 1px solid $color-border-result-content;
      border-right: 1px solid $color-border-result-content;
      border-bottom: 1px solid $color-border-result-content;
      a {
        font-size: 22px;
        font-family: $font-univers-bold;
        padding: 15px 0;
        color: $color-primary-black;
        background-color: $color-white;
        &:hover {
          background-color: $color-hover-darken;
          color: $color-white;
        }
      }
      &.navCol1 {
        width: 100%;
      }
      &.navCol2 {
        width: 50%;
      }
      &.navCol3 {
        width: 33.333333%;
      }
      &.active {
        border-top: 1px solid $color-primary-yellow;
        border-bottom: 1px solid $color-primary-yellow;
        a {
          background-color: $color-primary-yellow;
        }
      }
      &:first-child {
        border-left: 1px solid $color-border-result-content;
        &.active {
          background-color: $color-hover-darken;
          color: $color-white;
        }
      }
      &:last-child {
        &.active {
          border-right: 1px solid $color-primary-yellow;
        }
      }
    }
  }
  .tab-content {
    padding: 12px;
    border: 10px solid $color-primary-yellow;
  }
}

.footer-content {
  position: relative;
  overflow: hidden;
  .shadow-bg {
    position: relative;
    z-index: 88;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.3);
      z-index: 89;
    }
    img {
      max-width: inherit;
    }
  }
  .footer-location-content {
    z-index: 90;
    color: #ffffff;
    width: 100%;
    position: absolute;
    top: 26%;
    h3 {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}

.trakindo-container-100 {
  padding: 0 100px;
  margin: 0;
}

// .container {
//   max-width: 1280px;
//   margin: 0 auto;
// }
.news {
  [class^=col-] {
    padding-left: 10px;
    padding-right: 15px;
  }
}
a{
  &:focus{
    text-decoration: none;
    outline: 0;
  }
  &:active{
    text-decoration: none;
    outline: 0;
  }
}
.text-white {
  color: $color-white;
}
.text-yellow {
  color: $color-primary-yellow;
}
.text-red {
  color: $color-promotion;
}
.uppercase {
  text-transform: uppercase;
}

// .tabs-below > .nav-tabs > li > a {
//   -webkit-border-radius: 0 0 4px 4px;
//      -moz-border-radius: 0 0 4px 4px;
//           border-radius: 0 0 4px 4px;
// }

// .tabs-below > .nav-tabs > li > a:hover,
// .tabs-below > .nav-tabs > li > a:focus {
//   border-top-color: #ddd;
//   border-bottom-color: transparent;
// }

// .tabs-below > .nav-tabs > .active > a,
// .tabs-below > .nav-tabs > .active > a:hover,
// .tabs-below > .nav-tabs > .active > a:focus {
//   border-color: transparent #ddd #ddd #ddd;
// }

// quote checkbox style
.checkbox {
  &.group-input {
    &>label {
      cursor: pointer;
      position: relative;
      background-color: $color-white;
      border: 1px solid $color-border-black;
      padding: 10px;
      z-index: 88;
      input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
        opacity: 0;
      }
      position: relative;
      &:before {
        content: "";
        width: 12px;
        height: 12px;
        border: 1px solid $color-border-black;
        background-color: $color-white;
        display: block;
        position: absolute;
        top: 20px;
        left: 18px;
        font-size: 10px;
        @include borderRadius(2px);
        font: normal normal normal 11px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: $color-white;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events:all;
        z-index: 89;
      }
      &.active {
        &:before {
          content: "\f00c";
        }
      }
      label {
        position: relative;
        z-index: 77;
        pointer-events: none;
      }
    }
  }
}

// quote radiobox style
.radio {
  &.group-input {
    &>label {
      cursor: pointer;
      position: relative;
      background-color: $color-white;
      border: 1px solid $color-border-black;
      padding: 10px;
      z-index: 88;
      input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
        opacity: 0;
      }
      position: relative;
      &:before {
        content: "";
        width: 13px;
        height: 13px;
        border: 1px solid $color-border-black;
        background-color: $color-white;
        display: block;
        position: absolute;
        top: 20px;
        left: 10px;
        text-align: center;
        font-size: 10px;
        @include borderRadius(500px);
        font: normal normal normal 11px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: $color-white;
      }

      &.active {
        &:before {
          content: "\f111";
          line-height: 11px;
          font-size: 7px;
        }
      }
    }
  }
}
.dev-thumb {
  ul {
    margin-left: 20px;
  }
}
.section-landing {
  ul {
    margin-left: 20px;
  }
}
hr {
  margin: 0;
}
.panel {
  .row {
    img {
      margin: 10px 0;
    }
  }
}
.promotion-badge {
  background-color: $color-promotion;
  @include borderRadius(20px);
  padding: 3px 15px;
  font-size: 0.7em;
  color: $color-white;
  display: inline-block;
  & a {
    color: $color-white;
  }
}
.pager {
  li {
    & > a {
      border: 0;
      @include borderRadius(0);
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }
}