.form-group {
  margin-bottom: 0;
}
.form {
  .form-group {
    margin-bottom: 15px;
    span {
      font-weight: 700;
    }
  }
  .form-control {
    @include borderRadius(0);
    line-height: 48px;
    min-height: 48px;
    font-size: 1em;
    &:focus {
      box-shadow: none;
    }
    &.error {
      border-color: red;
    }
  }
}