@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}
@mixin borderRadius($border) {
  -webkit-border-radius: $border;
  -moz-border-radius: $border;
  -o-border-radius: $border;
  border-radius: $border;
}
@mixin transition ($variable) {
  -webkit-transition: $variable;
  -moz-transition: $variable;
  -o-transition: $variable;
  transition: $variable;
}
@mixin boxShadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -o-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}
@mixin translateY($y) {
  -webkit-transform: translateY($y);
  -moz-transform: translateY($y);
  -o-transform: translateY($y);
  transform: translateY($y);
}
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}
@mixin column($w-col) {
  -webkit-columns: $w-col;
   -moz-columns: $w-col;
        columns: $w-col;
}
@mixin column-gap($gap) {
  -webkit-column-gap: $gap;
  -moz-column-gap: $gap;
  column-gap: $gap;
}
@mixin grayscale($grayscale){
  -webkit-filter: grayscale($grayscale);
  -moz-filter: grayscale($grayscale);
  filter: grayscale($grayscale);
}
@mixin translateX($x) {
  -webkit-transform: translateX($x);
  -moz-transform: translateX($x);
  -o-transform: translateX($x);
  transform: translateX($x);
}
@mixin rotate($rotate) {
  -webkit-transform: rotate($rotate);
  transform: rotate($rotate);
}
@mixin animationDelay($delay) {
  -webkit-animation-delay: $delay;
          animation-delay: $delay;
}
@mixin animationKeyFrame($value) {
  -webkit-animation: $value;
          animation: $value;
}

@mixin animationTiming($value, $delay) {
  -moz-transition-timing-function: $value;
  -webkit-transition-timing-function: $value;
  -o-transition-timing-function: $value;
  transition-timing-function: $value;
  -moz-transition-duration: $delay;
  -webkit-transition-duration: $delay;
  -o-transition-duration: $delay;
  transition-duration: $delay;
}

@mixin columnCount($value) {
  column-count: $value;
  -moz-column-count: $value;
  -webkit-column-count: $value;
}

@mixin placeholderColor($color) {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}
@mixin flexBox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}