<footer>
    <div class="nav-footer clearfix">
        <div class="row">
            <div class="col-sm-9">
                {{ page.footer_left }}
            </div>
            <div class="col-sm-3">
                <div class="newsletter">
                    <div class="newsletter-title">
                        Don't miss our promotions!
                    </div>
                    <div class="newsletter-form">
                        <form class="js-newsletter-form" action="javascript:void(0);">
                          <input class="newsletter-email" type="text" placeholder="Enter your email address">
                          <button class="btn btn-submit"><i class="fa fa-chevron-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="modal fade" id="newsletter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <h3>Drop Your Email Here for Further Info</h3>
        <p>Please enter your contact details</p>
        {{drupal_block('contactblock_2')}}
      </div>
    </div>
  </div>
</div>
