<header>
  <nav class="nav">
    <div class="nav-top clearfix">
      <div class="nav-top-wrapper">
      </div>
    </div>
    <div class="header clearfix trakindo-container-100 {% if alias[1] == 'product-detail' %} prod-header {% endif %}">
      <div class="logo"><a href="{{ front_page }}"><img src="/{{ directory }}/images/logo.png" alt="Logo Trakindo"></a></div>
      {{ page.primary_menu }}
      <div class="nav-right">
        <!-- <ul class="nav-right-item nav-lang hidden-xs list-inline">
          {% if language == 'id' %}
            <li class="active hidden-xs">BAHASA</li>
            <li class="separator hidden-xs">|</li>
            <li><a href="/en">ENGLISH</a></li>
          {% endif %}
          {% if language == 'en' %}
            <li><a href="/id">BAHASA</a></li>
            <li class="separator hidden-xs">|</li>
            <li class="active hidden-xs">ENGLISH</li>
          {% endif %}
        </ul> -->
        {{ drupal_block('languageswitcher') }}
        <div class="nav-right-item nav-search-icon">
        <a href="#" id="btn-search"><i class="fa fa-search">‌</i></a>
        </div>
      </div>
      <button class="btn-menu-mobile visible-sm visible-xs">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div id="dl-menu" class="dl-menuwrapper visible-sm visible-xs">
        <div class="nav-top"></div>
        <button class="dl-trigger">Open Menu</button>
        {{ drupal_block('trakindo_2016_main_menu') }}
        <div id="menu-lang">
          <ul class="nav-right-item nav-lang list-inline">
            {% if language == 'id' %}
              <li class="active">BAHASA</li>
              <li><a href="/en">ENGLISH</a></li>
            {% endif %}
            {% if language == 'en' %}
              <li><a href="/id">BAHASA</a></li>
              <li class="active">ENGLISH</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="search-box clearfix">
      <div class="search-container">
        <!-- <gcse:search></gcse:search> -->
        {# drupal_block('searchbox') #}
        <form action="/{{ language }}/search/page" method="get" id="views-exposed-form-global-search-page-1" accept-charset="UTF-8" class="form">
          <div class="form-item">
            <input type="search" id="edit-keys" name="keys" size="30" maxlength="255" class="form-search form-control">
          </div>
          <div class="form-actions form-wrapper" id="edit-actions">
            <input data-drupal-selector="edit-submit-global-search" type="submit" id="edit-submit-global-search" value="Apply" class="button js-form-submit form-submit btn btn-default">
          </div>
        </form>
        <a href="#" id="btn-search-close"><i class="fa fa-close"></i></a>
      </div>
    </div>
  </nav>
</header>