{% if content.field_content_top_yellow|render|trim is not empty %}
<section class="bg-primary">
  <div class="container">
    <div class="content-page">
      {{ content.field_content_top_yellow }}
    </div>
  </div>
</section>
{% endif %}
{% if content.field_content_top_grey|render|trim is not empty %}
<section class="bg-grey">
  <div class="container">
  	{{ content.field_content_top_grey }}
  </div>
</section>
{% endif %}
{% if content.field_content_top_bg|render|trim is not empty %}
<section class="bg-img">
  <div class="container">
    <div class="content-page">
      {{ content.field_content_top_bg }}
    </div>
  </div>
</section>
{% endif %}
{% if content.body|render|trim is not empty %}
  {{ content.body }}
{% endif %}
{% if content.field_download_head_text|render|trim is not empty %}
<section>
	<div class="container">
		<div class="content-page">
      {% if content.field_download_head_text|render|trim is not empty %}
      <h3>Download</h3>
      <div class="table-head-caption">{{ content.field_download_head_text }}</div>
      {% endif %}
			{{ drupal_view('pages_upload_files', 'block_1', language, node_id) }}
			{% if content.field_url|render|trim is not empty %}
				<a href="{{content.field_url|field_value}}" class="btn btn-primary">{{content.field_text_button|field_value}}</a>
			{% endif %}
		</div>
	</div>
</section>
{% endif %}
<section class="top-content-landing no-padding hidden-xs">
  <div class="top-title-page">
    <div class="container">
      <h1>{% trans %}Management{% endtrans %}</h1>
    </div>
    <hr>
    <div class="container">
      <ol class="breadcrumb">
        {% if language == 'en' %}
        <li><a href="/{{ language }}">Home</a></li>
        <li><a href="/{{ language }}/about-us">About Us</a></li>
        <li class="active"><span>Management</span></li>
        {% else %}
        <li><a href="/{{ language }}">Home</a></li>
        <li><a href="/{{ language }}/tentang-kami">Tentang Kami</a></li>
        <li class="active"><span>Manajemen</span></li>
        {% endif %}
      </ol>
    </div>
  </div>
</section>
{% if content.field_content_bottom|render|trim is not empty %}
		{{ content.field_content_bottom }}
{% endif %}
{% if content.field_bottom_location|render|trim is not empty %}
  {{ content.field_bottom_location }}
{% endif %}