<section class="top-content-landing no-padding relative">
  <div class="shadow-bg">
    {{content.field_image}}
  </div>
  <div class="landing-content-wrapper">
    <div class="container">
      <div class="landing-slogan">
        <h2 class="text-yellow">{{ label }}</h2>
        <h1 class="-white">{{ content.field_second_text }}</h1>
        {% if content.field_landing_short_description|render|trim is not empty %}
        <div class="landing-description">
        {{ content.field_landing_short_description }}
        </div>
        {% endif %}
        {% if content.field_url|render|trim is not empty %}
          <a href="{{content.field_url|field_value}}" class="btn btn-primary">{{content.field_text_button|field_value}}</a>
        {% endif %}
        {{ drupal_view('landing_featured_link', 'block_1', language, node_id ) }}
      </div>
    </div>
  </div>
  <div class="landing-scroll">
    <div class="landing-scroll-in">
      <a href="#" class="btn btn-scroll"><span></span><span></span><span></span> Scroll down to view more information</a>
    </div>
  </div>
</section>
<div class="container">
  {{ drupal_block('trakindo_2016_breadcrumbs') }}
</div>
{% if content.field_content_top_yellow|render|trim is not empty %}
<section class="bg-primary">
  <div class="container">
    <div class="content-page">
      {{ content.field_content_top_yellow }}
    </div>
  </div>
</section>
{% endif %}
{% if content.field_content_top_no_background|render|trim is not empty %}
  {{ content.field_content_top_no_background }}
{% endif %}
{#{ drupal_view('news', 'block_6', language) }#}
{#{{ drupal_view('blog', 'block_6', language) }}#}
{% if content.body|render|trim is not empty %}
  {{ content.body }}
{% endif %}
