<section class="top-content-landing no-padding relative">
  <div class="shadow-bg">
    {{content.field_image}}
  </div>
  <div class="landing-content-wrapper">
    <div class="container">
      <div class="landing-slogan">
        <h2 class="text-yellow">{{ label }}</h2>
        <h1 class="-white">{{ content.field_second_text }}</h1>
        {% if content.field_short_description|render|trim is not empty %}
        <div class="landing-description">
        {{ content.field_short_description }}
        </div>
        {% endif %}
        {% if content.field_url|render|trim is not empty %}
          <a href="{{content.field_url|field_value}}" class="btn btn-primary">{{content.field_text_button|field_value}}</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="landing-scroll">
    <div class="landing-scroll-in">
      <a href="#" class="btn btn-scroll"><span></span><span></span><span></span> Scroll down to view more information</a>
    </div>
  </div>
</section>
<div class="container">
  {{ drupal_block('trakindo_2016_breadcrumbs') }}
</div>
{% if content.field_content_top_bg|render|trim is not empty %}
<section class="bg-img">
  <div class="container">
    <div class="content-page">
      {{ content.field_content_top_bg }}
    </div>
  </div>
</section>
{% endif %}

{% if content.field_content_value_chain|render|trim is not empty %}
<section>
  <div class="container">
    <div class="industry-page">
      {% if content.field_title_value_chain|render|trim is not empty %}
        <h3>{{ content.field_title_value_chain }}</h3>
      {% endif %}
      {% if content.field_desc_value_chain|render|trim is not empty %}
        {{ content.field_desc_value_chain }}
      {% endif %}
      {{ content.field_content_value_chain }}
    </div>
  </div>
</section>
{% endif %}

{% if content.field_content_top_grey|render|trim is not empty %}
<section class="bg-grey">
  <div class="container">
    {{ content.field_content_top_grey }}
  </div>
</section>
{% endif %}
{% if content.body|render|trim is not empty %}
<section>
  <div class="container">
    {{ content.body }}
  </div>
</section>
{% endif %}
{% if content.field_content_bottom|render|trim is not empty %}
    {{ content.field_content_bottom }}
{% endif %}