<section class="top-content-landing no-padding hidden-xs">
  <div class="top-title-page">
    <div class="container">
      <h1>{% trans %}Promotions{% endtrans %}</h1>
    </div>
    <hr>
    <div class="container">
      <ol class="breadcrumb">
        {% if language == 'en' %}
        <li><a href="/{{ language }}">Home</a></li>
        <li><a href="/{{ language }}/about-us">About Us</a></li>
        <li class="active"><span>Promotions</span></li>
        {% else %}
        <li><a href="/{{ language }}">Home</a></li>
        <li><a href="/{{ language }}/tentang-kami">Tentang Kami</a></li>
        <li class="active"><span>Promosi</span></li>
        {% endif %}
      </ol>
    </div>
  </div>
</section>
<section class="no-padding">
  <div class="container">
    <div class="single-post">
      <div class="single-post-title clearfix">
        <h3>{{ label }}</h3>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="single-post-info">
            <div class="single-post-meta single-date-wrapper post-date-wrapper">
              <div class="single-post-label">
                {% trans %}Posting Date{% endtrans %}
              </div>
              <div class="single-post-date">
              {{ content.field_start_date }}
              </div>
            </div>
            <div class="single-post-meta single-date-wrapper">
              <div class="single-post-label">
                {% trans %}End Date{% endtrans %}
              </div>
              <div class="single-post-date">
              {{ content.field_end_date }}
              </div>
            </div>
            <div class="single-post-share">
              <div class="share"></div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-9">
          <div class="single-post-content">
            <div class="content-post-slider">
                <div class="row">
                <div class="col-sm-7">
                  {{content.field_image}}
                </div>
                <div class="col-sm-5">
                <div class="post-slider-desc">
                  {{content.field_image_text}}
                </div>
                </div>
                </div>
            </div>
            {% if content.field_summary_content|render|trim is not empty %}
              <blockquote>{{ content.field_summary_content }}</blockquote>
            {% endif %}
            {% if content.body|render|trim is not empty %}
              {{content.body}}
            {% endif %}
            <div class="single-post-back-button">
              <a href="/{{ language }}/about-us/promotions" class="btn btn-back"><span class="back-button-icon"><i class="fa fa-mail-reply"></i></span>{% trans %}Back to Promotions{% endtrans %}</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="sidebar">
            <div class="related-widget">
              {{ drupal_view('promotions', 'block_1', node.field_promotion_category[0].value, node_id ) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>