<section class="top-content-landing no-padding hidden-xs">
  <div class="top-title-page">
    <div class="container">
      <h1>Blog</h1>
    </div>
    <hr>
    <div class="container">
      <ol class="breadcrumb">
        {% if language == 'en' %}
        <li><a href="/{{ language }}">Home</a></li>
        <li><a href="/{{ language }}/about-us">About Us</a></li>
        <li class="active"><span>Blog</span></li>
        {% else %}
        <li><a href="/{{ language }}">Home</a></li>
        <li><a href="/{{ language }}/tentang-kami">Tentang Kami</a></li>
        <li class="active"><span>Blog</span></li>
        {% endif %}
      </ol>
    </div>
  </div>
</section>
<section class="no-padding">
  <div class="container">
    <div class="single-post">
      <div class="single-post-title clearfix">
        <h3>{{ label }}</h3>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="single-post-info">
            <div class="single-post-meta">
              <div class="single-post-cat">
                <i class="fa fa-folder-o"></i> {{content.field_category}}
              </div>
              <div class="single-post-date">
              {{ formatted_date }}
              </div>
            </div>
            <div class="single-post-share">
              <div class="share"></div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-9">
          <div class="single-post-content">
            <div class="content-post-slider">
                {{ drupal_view('blog', 'block_3', language, node_id ) }}
            </div>
            {% if content.field_summary_content|render|trim is not empty %}
              <blockquote>{{ content.field_summary_content }}</blockquote>
            {% endif %}
            {% if content.body|render|trim is not empty %}
              {{content.body}}
            {% endif %}
            {{ drupal_view('blog', 'block_4', language, node_id ) }}
            <div class="single-post-back-button">
              <a href="/{{ language }}/about-us/blog" class="btn btn-back"><span class="back-button-icon"><i class="fa fa-mail-reply"></i></span>Back to Blog</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="sidebar">
            <div class="related-widget">
              <h3>Related Content</h3>
              {{ drupal_view('blog', 'block_5', language, node.field_category.entity.tid.value, node_id ) }}
              {{ drupal_block('blogrightsection') }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>