<div class="form-group">
	<label>Name <span class="required-sign">*</span></label>
	<div class="row">
	  <div class="col-md-12">
	    {{ form.field_first_name }}
	  </div>
	</div>
</div>
<div class="form-group js-input-email">
	<label>Business Email <span class="required-sign">*</span></label>
	<div class="row">
		<div class="col-md-12">
			{{ form.field_business_email }}
		</div>
	</div>	
</div>
<div class="form-group">
	<label>Contact Number <span class="required-sign">*</span></label>
	<div class="row">
	  <div class="col-md-12">
	    {{ form.field_phone_number }}
	  </div>
	</div>
</div>
<div class="form-group checkbox-custom-wrapper">
      <label>Category <span class="required-sign">*</span></label>
      {{ form.field_newsletter_category }}
</div>
<div class="form-group">
      <label>Captcha <span class="required-sign">*</span></label>
      <div class="row">
        <div class="col-md-12">
        {{ form.captcha }}
        </div>
      </div>
</div>
<div class="form-group">
	{{ form.actions.submit }}
</div>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
