<div class="quote-form">
<h3>Apply Now</h3>
<p>Trakindo always use format approach to all selected participants. Kindly send us your CV and we will contact you if there is any suitable position.</p>
<div class="cv-upload-wrapper relative">
  <label class="upload-file js-label-cv-upload">
    Max 2MB and PDF format are supported.
    <span><img src="/{{directory}}/images/upload-icon.png" alt="trakindo"></span>
  </label>
  <div class="js-cv-upload">
    {{ form.field_cv }}
  </div>
</div>
<div>Please fill out the form below and we will get back to you soon.</div>
<div class="form-group">
  <label>Salutation <span class="required-sign">*</span></label>
  <div class="radio group-input">
    {{ form.field_salutation }}
  </div>
</div>
<div class="form-group">
  <label>Full Name <span class="required-sign">*</span></label>
  <div class="input-group row">
    <div class="col-md-4">
      {{ form.field_first_name }}
    </div>
    <div class="col-md-4">
      {{ form.field_mid_name }}
    </div>
    <div class="col-md-4">
      {{ form.field_last_name }}
    </div>
  </div>
</div>
<div class="form-group">
  <label>Business Email <span class="required-sign">*</span></label>
  <div class="row">
    <div class="col-md-12">
      {{ form.field_business_email }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <label>Current Location <span class="required-sign">*</span></label>
      <div class="row">
        <div class="col-md-12">
          {{ form.field_city }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Role / Position of Interest <span class="required-sign">*</span></label>
      <div class="row">
        <div class="col-md-12">
          {{ form.field_position }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Captcha <span class="required-sign">*</span></label>
      <div class="row">
        <div class="col-md-12">
        {{ form.captcha }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  {{ form.actions.submit }}
</div>
</div>

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}