<div class="form-group">
	<label>Salutation <span class="required-sign">*</span></label>
	{{ form.field_salutation }}
</div>
<div class="form-group">
	<label>Full Name <span class="required-sign">*</span></label>
	<div class="input-group row">
	  <div class="col-md-4">
	    {{ form.field_first_name }}
	  </div>
	  <div class="col-md-4">
	    {{ form.field_mid_name }}
	  </div>
	  <div class="col-md-4">
	    {{ form.field_last_name }}
	  </div>
	</div>
</div>
<div class="form-group">
	<div class="input-group row">
		<div class="col-md-12">
			{{ form.field_business_email }}
		</div>
	</div>	
</div>
<div class="form-group">
	<label>Phone Number <span class="required-sign">*</span></label>
	<div class="input-group row">
	  <div class="col-md-4">
	    {{ form.field_country_code }}
	  </div>
	  <div class="col-md-4">
	    {{ form.field_area_code }}
	  </div>
	  <div class="col-md-4">
	    {{ form.field_phone_number }}
	  </div>
	</div>
</div>
<div class="form-group">
	<label>Detailed Location <span class="required-sign">*</span></label>
	<div class="input-group row">
	  <div class="col-md-4">
	    {{ form.field_province }}
	  </div>
	  <div class="col-md-4">
	    {{ form.field_city }}
	  </div>
	  <div class="col-md-4">
	    {{ form.field_post_code }}
	  </div>
	</div>
</div>
<div class="form-group">
	<div class="input-group row">
		<div class="col-md-12">
			{{ form.field_company_name }}
		</div>
	</div>	
</div>
<div class="form-group">
	<div class="input-group row">
		<div class="col-md-12">
			{{ form.field_service }}
		</div>
	</div>	
</div>
<div class="form-group">
	<div class="input-group row">
		<div class="col-md-12">
			<label>Product Type <span class="required-sign">*</span></label>
			{{ form.field_product_type }}
		</div>
	</div>	
</div>
<div class="form-group">
	<div class="input-group row">
		<div class="col-md-12">
			{{ form.field_model_name }}
		</div>
	</div>	
</div>
<div class="form-group">
	<div class="input-group row">
		<div class="col-md-12">
			<label>Request <span class="required-sign">*</span></label>
			{{ form.message }}
		</div>
	</div>	
</div>
<div class="form-group">
	<div class="input-group row">
		<div class="col-md-12">
			{{ form.captcha }}
		</div>
	</div>	
</div>
<div class="form-group">
	{{ form.actions.submit }}
</div>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}