<div class="checkbox group-input">
	<label>{{ form['Machine'] }}</label>
	<label>{{ form['Work Tools'] }}</label>
	<label>{{ form['Engines'] }}</label>
	<label>{{ form['Cat® Lift Trucks'] }}</label>
	<label>{{ form['Used Equipments'] }}</label>
	<label>{{ form['Rental Service'] }}</label>
</div>

