{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
{% block content %}
  {% if content|render|trim is not empty %}
    <ul class="admin-menu list-inline">{{ content }}</ul>
  {% endif %}
{% endblock %}
